body {
  background-image: url(background/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  font-family: arial;
}
.image {
}
nav {
  background-color: rgb(176, 102, 230);
}
footer {
  background-color: rgb(176, 102, 230);
}
